body {
    background-color: bisque;
    width: 800px;


}
header {
    color: crimson;
    text-align: center;
    font-size: 20px;
    display: block;


}

nav ul li {

    background-color: aquamarine;
    display: inline-block;
    font-size: 18px;


}

footer {
    background-color: black;
    text-align: center;
    
}

p,li,h1 {
    color: darkred;
  }

  p {
    color:darkslategray;
    width: 500px;
    border: 1px solid black;
  }
  html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: placeholder: this should be the rest of the output you got from Google fonts
  }


